<%- include('components/header') %>
<div class="flex flex-row">
    <div >
        <%- include('components/sidebar') %>
    </div>
    <div>

        <div class="w-100 text-xl border-2">
            <a class="bg-indigo-200 p-2 border-r-2" href="/subjects/<%= JSON.parse(subject)._id %>">Overview</a>&nbsp;
            <a class="bg-indigo-200 p-2" href="/subjects/<%= JSON.parse(subject)._id %>/chapter">Chapters</a>
        </div>
        <div class="p-5">
            
            <h2 class="text-xl">Week plan for <b><%= JSON.parse(subject).name %> </b></h2>
            <div class="mx-5">
                <% for(let week in weeks) { %>
                    <p>Week <%= parseInt(week)+1 %>
                        <a class="text-blue-700" href="/subjects/<%= JSON.parse(subject)._id %>/plan/<%=  weeks[week]._id%>">edit</a>
                        <a class="text-red-500" href="/subjects/<%= JSON.parse(subject)._id %>/plan/<%=  weeks[week]._id%>/delete">Delete</a>
                    </p>
                    <% } %>
                </div>
                <form method="POST" action="/week/create">
                    <input
                    type="hidden"
                    name="subjectId"
                    value="<%= JSON.parse(subject)._id %>"
                    />
                    <button class="p-2 rounded bg-blue-500 mt-2" type="submit">
                        Add week
                    </button>
                </form>
            </div>
        </div>
        </div>
        
        <%- include('components/footer') %>
        



