<%- include('components/header') %>

<body class="font-sans bg-slate-50">
<div >
    <nav class="py-4  bg-blue-400 text-white text-base">
        <ul class="flex ">
            <li class="px-5 mr-14 text-xl font-bold">LPMS</li>
            <!-- <li class="font-bold text-lg "><a href="/subjects">Subjects</a></li> -->
            <a class="font-bold text-lg mr-4" href="/subjects/">Subjects</a>&nbsp;
            <a class="font-bold text-lg mx-4" href="/subjects/<%= JSON.parse(subject)._id %>/plan">Weekly Plan</a>&nbsp;
            <a class="font-bold text-lg mx-4" href="/subjects/<%= JSON.parse(subject)._id %>/chapter">Chapters</a>
            <a class="font-bold text-lg mx-4" href="/subjects/<%= JSON.parse(subject)._id %>/assignment">Assignments</a>&nbsp;
            <a class="font-bold text-lg mx-4" href="/subjects/<%= JSON.parse(subject)._id %>/resource">Resources</a>&nbsp;
            <li class="absolute right-0 h-16 pr-20 rounded-full">
            <form class="rounded-full bg-indigo-700 px-10 py-1 hover:bg-indigo-900" action="/logout" method="post"><input class = "hover:cursor-pointer" type="submit" value="Logout"></form>
          </li>

        </ul>
    </nav>

<div class="mx-52">
    <div class="flex md:flex-row flex-col">
    </div>
    <div class="flex flex-col w-full">
        <div class="p-5">

            <p class="text-3xl py-4">Week <%= week.index+1 %> of <%= JSON.parse(subject).name %> </pj>
            <div>
                    
                <% for(let i=0; i<plans.length; i++){ %>
                    <p class="text-2xl"><span><%= i+1 %>. &nbsp;</span><%= plans[i].name %></p>
                    <div class="p-2">
                        <% for(let j=0; j<plans[i].topics.length; j++) { %>
                            <p>
                                <span><%= `${i+1}.${j+1}` %>. &nbsp;</span>
                                <span><%= plans[i].topics[j].name %></span>
                                <span><a href="/subjects/<%= JSON.parse(subject)._id %>/chapter/<%= plans[i]._id %>/topic/<%= plans[i].topics[j]._id %>/<%= week._id %>/removeweek" class="text-red-500">Delete</a></span>
                            </p>
                        <% } %>
                    </div>
                <% } %>
            </div>
                        
            <form method="POST" action="/week/addtopic">
                <select class="p-2 mx-2 bg-gray-300 rounded w-50" name="chapterId" id="chapter" onchange="changeTopics(this.value)">
                </select>
                <select class="p-2 mx-2 bg-gray-300 rounded" name="topicId" id="topic">
                </select>
                <input
                    type="hidden"
                    name="subjectId"
                    value="<%= JSON.parse(subject)._id %>"
                />
                <input
                    type="hidden"
                    name="weekId"
                    value="<%= week._id %>"
                />
                <button class="p-2 rounded bg-blue-500 mt-2 mx-2" type="submit">
                    Add Plan 
                </button>
            </form>
        </div>
    </div>
</div>
</div>
                    
<script>
    let topics = [];
    function changeTopics(value){
        let chapters = JSON.parse(`<%- subject %>`).chapters;
        let selectedChapter = chapters.find( chapter => chapter._id === value);
                            
        topics = selectedChapter.topics;
        const topicBox = document.getElementById('topic');
                            
        while (topicBox.options.length >0) topicBox.remove(0);
                            
        for(topic of topics){
            if(!topic.week){

                var newOption = document.createElement('option');
                var optionText = document.createTextNode(topic.name);
                
                newOption.appendChild(optionText);
                newOption.setAttribute('value', topic._id);
                topicBox.appendChild(newOption);
            }
        }
    }

    function renderChapters(){
        let chapters = JSON.parse(`<%- subject %>`).chapters;
                            
        const chapterBox = document.getElementById('chapter');
                            
        for(chapter of chapters){
            if(!chapter.topics || chapter.topics.length === 0){
                continue;  
            };
            let renderChapters = false;
            for(topic of chapter.topics){
                if(!topic.week){
                    renderChapters = true;
                    break;
                }
            }

            if(renderChapters){
                var newOption = document.createElement('option');
                var optionText = document.createTextNode(chapter.name);
                
                newOption.appendChild(optionText);
                newOption.setAttribute('value', chapter._id);
                chapterBox.appendChild(newOption);
            }
        }

    }
    renderChapters();
    changeTopics(document.getElementById("chapter").value)
</script>
</body>

<%- include('components/footer') %>