<%- include('components/header') %>
<body>
    <div class="flex md:flex-row flex-col">
        <div >
            <%- include('components/sidebar') %>
        </div>
        <div class="mx-5 flex">
            <div>
                <div class="flex flex-wrap justify-start content-start items-center">
                    <% for (let subject of subjects){%>
                        <div class="box bg-indigo-400 text-center shadow-lg rounded-md m-4">
                            <div class="p-5">
                                <h1 class="text-white font-bold text-xl leading-tight mb-2">
                                    <%= subject.name %>
                                </h1>
                                <p class="flex flex-col gap-2 pt-4">
                                    <span 
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-10 rounded shadow-lg focus:outline-none focus:shadow-outline"
                                    >
                                        <a href="/subjects/<%= subject._id %>/plan" class="text-white">Weekly Plan</a><br/>
                                    </span>
                                    <span 
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-10 rounded shadow-lg focus:outline-none focus:shadow-outline"
                                    >
                                        <a href="/subjects/<%= subject._id %>/chapter" class="text-white">Chapter</a><br/>
                                    </span>
                                    <span 
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-10 rounded shadow-lg focus:outline-none focus:shadow-outline"
                                    >
                                        <a href="/subjects/<%= subject._id %>/assignment" class="text-white">Assignments</a><br/>
                                    </span>
                                    <span 
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-10 rounded shadow-lg focus:outline-none focus:shadow-outline"
                                    >
                                        <a href="/subjects/<%= subject._id %>/resource" class="text-white">Resources</a><br/>
                                    </span>
                                    <span 
                                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-10 rounded shadow-lg focus:outline-none focus:shadow-outline"
                                    >
                                    <a  href="/subjects/<%= subject._id %>/delete ">Delete</a>
                                </span>
                            </p>
                        </div>
                    </div>
                    <% }%>
                </div>

                <div>
                    <div class="w-full">
        
                        <form class="p-5" method="POST" action="/subject/create">
                            <input 
                            class="block shadow border rounded w-full p-2"
                            placeholder="Title"
                            name="name"
                            type="text"
                            required
                            />
                            <button class="p-2 rounded bg-blue-500 mt-2" type="submit">Create Subject</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('components/footer') %>