<%- include('components/header') %>
<body>
    <div class="flex flex-row">
        <div >
            <%- include('components/sidebar') %>
        </div>
        <div class="mx-5">
        <div class="w-100 text-xl border-2">
            <a class="bg-indigo-200 p-2 border-r-2" href="/subjects/<%= subject._id %>">Overview</a>&nbsp;
            <a class="bg-indigo-200 p-2 border-r-2" href="/subjects/<%= subject._id %>/plan">Weekly Plan</a>&nbsp;
            <a class="bg-indigo-200 p-2" href="/subjects/<%= subject._id %>/chapter">Chapters</a>
        </div>
            <p class="text-xl">Assignment for <%= subject.name %></p>
            <table class="table-auto w-full border-gray-700 border">
                <thead>
                    <tr class="border border-gray-700 p-2">
                        <th class="font-medium p-4 pt-0 pb-3 text-left border border-gray-700">Chapter</th>
                        <th class="font-medium p-4 pl-8 pt-0 pb-3 text-left">Assignment</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(subject.chapters) { %>

                        <% for(let chapter of subject.chapters) { %>
                            <% if(chapter.assignments && chapter.assignments.length > 0) { %>
                                <tr class="border border-gray-700">
                                    <td class="border p-4 pl-8 border-gray-700"><%= chapter.name %></td>
                                    <td class="">
                                    <table class="table-auto w-full">
                                        <% for(assignment of chapter.assignments) { %> 
                                            <tr>
                                                <td class="border-b border-gray-500 pl-8">
                                                    <%= assignment.title %></br>
                                                </td>
                                                <td class="p-4 border-b border-gray-500 pl-8">
                                                    <%= assignment.body %></br>
                                                </td>
                                                <td class="p-4 border-b border-gray-500 pl-8 text-red-500">
                                                    <a href="/subject/assignment/<%= subject._id %>/<%= chapter._id %>/<%= assignment._id %>/delete">Delete</a>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </table></td>
                                </tr>
                            <% } %>
                        <% } %>
                                
                    <% } %>
                </tbody>
            </table>


            <div>
                <%- include('dashboard_new_assignment') %>
            </div>
        </div>
    </div>
</body>

<%- include('components/footer') %>