<%- include('components/header') %>
<body class="font-sans bg-slate-50">

    <nav class="py-4  bg-blue-400 text-white text-base">
        <ul class="flex ">
            <li class="px-5 mr-14 text-xl font-bold">LPMS</li>
            <a class="font-bold text-lg mr-4" href="/subjects/">Subjects</a>&nbsp;
            <a class="font-bold text-lg mx-4" href="/subjects/<%= subject._id %>/plan">Weekly Plan</a>&nbsp;
            <a class="font-bold text-lg mx-4" href="/subjects/<%= subject._id %>/chapter">Chapters</a>
            <a class="font-bold text-lg mx-4" href="/subjects/<%= subject._id %>/assignment">Assignments</a>&nbsp;
            <a class="font-bold text-lg mx-4" href="/subjects/<%= subject._id %>/resource">Resources</a>&nbsp;
            <li class="absolute right-0 h-16 pr-20 rounded-full">
            <form class="rounded-full bg-indigo-700 px-10 py-1 hover:bg-indigo-900" action="/logout" method="post"><input class = "hover:cursor-pointer" type="submit" value="Logout"></form>
          </li>

        </ul>
    </nav>
    <!-- <div class="flex flex-col md:flex-row"> -->
        
        
        <div class="p-5 mx-40">

            <p class="text-2xl py-4">Assignment for <%= subject.name %></p>
            <table class="table-auto w-full  border">
                <thead class="border  " >
                    <tr class="border  p-2">
                        <th class="font-medium p-4 pt-0 pb-3 text-left border ">Chapter</th>
                        <th class="font-medium p-4 pl-8 pt-0 pb-3 text-left">Assignment</th>
                    </tr>
                         </thead>
                    <tbody class="">
                        <% if(subject.chapters) { %>
                        
                        <% for(let chapter of subject.chapters) { %>
                            <% if(chapter.assignments && chapter.assignments.length > 0) { %>
                                <tr class="border ">
                                    <td class="border p-4 pl-8 "><%= chapter.name %></td>
                                    <td class="">
                                        <table class="table-auto w-full">
                                            <% for(assignment of chapter.assignments) { %> 
                                                <tr>
                                                    <td class="border-b border-gray-500 pl-8">
                                                        <%= assignment.title %></br>
                                                    </td>
                                                    <td class="p-4 border-b border-gray-500 pl-8">
                                                        <%= assignment.body %></br>
                                                    </td>
                                                    <td class="p-4 border-b border-gray-500 pl-8">
                                                        <% if(assignment.file){ %>
                                                            <a class="text-blue-500" target="_blank" href="/files/<%= assignment.file %>">View File</a></br>
                                                            <% } %>
                                                    </td>
                                                    <td class="p-4 border-b border-gray-500 pl-8 text-red-500">
                                                        <a href="/subject/assignment/<%= subject._id %>/<%= chapter._id %>/<%= assignment._id %>/delete">Delete</a>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        </table>
                                    </td>
                                </tr>
                                <% } %>
                                <% } %>            
                                <% } %>
                            </tbody>
                        </table>            
                        <div>
            </div>
                <%- include('components/new_assignment') %>
            </div>
        </div>
    </div>
    </div>
</body>

<%- include('components/footer') %>