<%- include('components/header') %>
<body class="font-sans bg-slate-50">
    <div >
        <nav class="py-4  bg-blue-400 text-white text-base">
            <ul class="flex ">
                <li class="px-5 mr-14 text-xl font-bold">LPMS</li>
                <a class="font-bold text-lg mr-4" href="/subjects/">Subjects</a>&nbsp;
                <a class="font-bold text-lg mx-4" href="/subjects/<%= subject._id %>/plan">Weekly Plan</a>&nbsp;
                <a class="font-bold text-lg mx-4" href="/subjects/<%= subject._id %>/chapter">Chapters</a>
                <a class="font-bold text-lg mx-4" href="/subjects/<%= subject._id %>/assignment">Assignments</a>&nbsp;
                <a class="font-bold text-lg mx-4" href="/subjects/<%= subject._id %>/resource">Resources</a>&nbsp;
                <li class="absolute right-0 h-16 pr-20 rounded-full">
                <form class="rounded-full bg-indigo-700 px-10 py-1 hover:bg-indigo-900" action="/logout" method="post"><input class = "hover:cursor-pointer" type="submit" value="Logout"></form>
              </li>
    
            </ul>
        </nav>
    </div>
    <!-- <div class="flex md:flex-row flex-col"> -->
        <div class="p-5 mx-40">
            <p class="text-2xl py-4">Resources for <%= subject.name %></p>
            <table class="table-auto w-full border-gray-700 border">
                <thead>
                    <tr class="border border-gray-700 p-2">
                        <th class="font-medium p-4 pt-0 pb-3 text-left border border-gray-700">Chapter</th>
                        <th class="font-medium p-4 pl-8 pt-0 pb-3 text-left">Resource</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(subject.chapters) { %>

                        <% for(let chapter of subject.chapters) { %>
                            <% if(chapter.resources && chapter.resources.length > 0) { %>
                                <tr class="border border-gray-700">
                                    <td class="border p-4 pl-8 border-gray-700"><%= chapter.name %></td>
                                    <td class="">
                                    <table class="table-auto w-full">
                                        <% for(resource of chapter.resources) { %> 
                                            <tr>
                                                <td class="border-b border-gray-500 pl-8">
                                                    <%= resource.title %></br>
                                                </td>
                                                <td class="p-4 border-b border-gray-500 pl-8">
                                                    <a class="text-blue-500" target="_blank" href="/files/<%= resource.file %>">View File</a></br>
                                                </td>
                                                <td class="p-4 border-b border-gray-500 pl-8 text-red-500">
                                                    <a href="/subject/resource/<%= subject._id %>/<%= chapter._id %>/<%= resource._id %>/delete">Delete</a>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </table></td>
                                </tr>
                            <% } %>
                        <% } %>
                                
                    <% } %>
                </tbody>
            </table>

       


            <div>
                <%- include('components/new_resource') %>
            </div>
        </div>
    </div>
</body>

<%- include('components/footer') %>