<%- include('components/header') %>

<body class="font-sans bg-slate-50">
    
<!-- <div class="flex "> -->
    <div >
        <nav class="py-4  bg-blue-400 text-white text-base">
            <ul class="flex ">
                <li class="px-5 mr-14 text-xl font-bold">LPMS</li>
                <!-- <li class="font-bold text-lg "><a href="/subjects">Subjects</a></li> -->
                <a class="font-bold text-lg mr-4" href="/subjects/">Subjects</a>&nbsp;
                <a class="font-bold text-lg mx-4" href="/subjects/<%= JSON.parse(subject)._id %>/plan">Weekly Plan</a>&nbsp;
                <a class="font-bold text-lg mx-4" href="/subjects/<%= JSON.parse(subject)._id %>/chapter">Chapters</a>
                <a class="font-bold text-lg mx-4" href="/subjects/<%= JSON.parse(subject)._id %>/assignment">Assignments</a>&nbsp;
                <a class="font-bold text-lg mx-4" href="/subjects/<%= JSON.parse(subject)._id %>/resource">Resources</a>&nbsp;
                <li class="absolute right-0 h-16 pr-20 rounded-full">
                <form class="rounded-full bg-indigo-700 px-10 py-1 hover:bg-indigo-900" action="/logout" method="post"><input class = "hover:cursor-pointer" type="submit" value="Logout"></form>
              </li>

            </ul>
          </nav>
        </div>        
    </div>
    
    <div class="mx-52">
        <div class="p-5">
            <div class="flex my-3 py-3">
                <h2 class="text-2xl mx-10 "><span class=" align-middle">Week plan for <%= JSON.parse(subject).name %> </span></h2>

                <form method="POST" action="/week/create" >
                    <input
                    type="hidden"
                    name="subjectId"
                    value="<%= JSON.parse(subject)._id %>"
                    />
                    <button class="rounded bg-blue-400 p-2 mx-4" type="submit" >
                      Add Weeks
                    </button>  
                    
                </form>


                <form id="deleteForm" method="POST" action="/subjects/<%= JSON.parse(subject)._id %>/plan/deleteAllWeeks">
                    <button class="text-red-500 rounded bg-blue-400 p-2 mx-4" id="deleteButton">Delete All</button>
                  </form>
                  
                  <a class="rounded bg-blue-400 p-2 mx-4" href="/subjects/<%= JSON.parse(subject)._id %>/plan/viewAllWeeks" >View All </a>
                 
                  
            </div>    
            

                    

            <div class="mx-5" id="weeksContainer">
                <% for (let week in weeks) { %>
                <p>
                  Week <%= parseInt(week) + 1 %>
                  <a class="text-blue-700 mx-2" href="/subjects/<%= JSON.parse(subject)._id %>/plan/<%= weeks[week]._id %>">edit</a>
                  <a class="text-red-500 mx-2" href="/subjects/<%= JSON.parse(subject)._id %>/plan/<%= weeks[week]._id %>/delete" onclick="confirmDelete(event)">Delete</a>
                </p>
                <% } %>
              </div>
        </div>
        </div>

    </div>


    <script>
        // Get the delete form element and delete button element
        const deleteForm = document.getElementById('deleteForm');
        const deleteButton = document.getElementById('deleteButton');
      
        // Add a click event listener to the delete button
        deleteButton.addEventListener('click', function(event) {
          // Prevent the default form submission behavior
          event.preventDefault();
      
          // Display an alert before performing the deletion
          if (confirm('Are you sure you want to delete all weeks?')) {
            // Submit the form programmatically
            deleteForm.submit();
          } else {
            // If user clicks "Cancel" or closes the alert, do nothing
          }
        });

        // Function to handle the deletion confirmation
        function confirmDelete(event) {
            // Prevent the default behavior of the link
            event.preventDefault();

            // Display a confirmation dialog
            if (confirm('Are you sure you want to delete?')) {
            // If the user clicks "OK" in the confirmation dialog, navigate to the delete link
            window.location.href = event.target.href;
            }
        }
      </script>
    

        
</body>
    <%- include('components/footer') %>
        




