<%- include('components/header') %>
<body>
    <div class="mx-5">
            <div class="w-full">

                <form class="p-5" method="POST" action="/assignment/create">
                    <input 
                        class="block shadow border rounded w-full p-2"
                        placeholder="Title"
                        name="title"
                        type="text"
                        required
                    />
                    <textarea 
                        class="block shadow border rounded w-full p-2"
                        placeholder="body"
                        name="body"
                        type="text"
                        required
                    ></textarea>

                    <select name="chapterId" required>
                        <% if(subject.chapters) { %>
                        
                            <% for(chapter of subject.chapters) { %>
                                <option value="<%= chapter._id %>"><%= chapter.name %></option>

                            <% } %>
                        <% } %>
                    </select>                   
                    <input
                        type="hidden"
                        name="subjectId"
                        value="<%= subject._id %>"
                    />
                    <button class="p-2 rounded bg-blue-500 mt-2" type="submit">Add Assignment</button>
                </form>
            </div>
    </div>
</body>

<%- include('components/footer') %>